.form-new-post {
  width: 600px;
  border: 1px solid #efefef;
  margin-bottom: 50px;
  background-color: #fff;
  padding: 20px;
}
.form-new-post__header {
  width: 600px;
  background-color: #dbdfe3;
  color: #606060;
  font-weight: 500;
  height: 40px;
  display: flex;
  align-items: center;
}
.form-new-post__header span {
  margin-left: 20px;
}
.form-new-post__input {
  height: 50px;
}
.custom-file-label {
  overflow: hidden !important;
}
